<table class="table table-hover row">
  <thead>
  <tr>
    <th>#</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Age</th>
    <th>Bust</th>
    <th>Waist</th>
    <th>Hip</th>
    <th>Address</th>
    <th>E-mail</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  {{#each model as |entry|}}
    <tr>
      <th scope="row">1</th>

      <td class="table-entries">
        {{#table-entry value = entry.firstName}}{{/table-entry}}
      </td>

      <td class="table-entries">
        {{#table-entry value = entry.lastName}}{{/table-entry}}
      </td>

      <td class="table-entries">
        {{#table-entry value = entry.age}}{{/table-entry}}
      </td>

      <td class="table-entries">
        {{#table-entry value = entry.bust}}{{/table-entry}}
      </td>

      <td class="table-entries">
        {{#table-entry value = entry.waist}}{{/table-entry}}
      </td>

      <td class="table-entries">
        {{#table-entry value = entry.hip}}{{/table-entry}}
      </td>

      <td class="table-entries">
        {{#table-entry value = entry.address}}{{/table-entry}}
      </td>

      <td class="table-entries">
        {{#table-entry value = entry.email}}{{/table-entry}}
      </td>

      <td>
        <button class="btn btn-danger btn-xs"
          {{action "deleteEntry" entry}}
        >x
        </button>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>